body {
	margin: 0;
}

.red-header {
	height: 150px;
	width: 100%;
	background-color: red;
}

#left {
	background-color: yellow;
	height: 750px;
	width: 15%;
	float: left;
}

#right {
	background-color: yellow;
	height: 750px;
	width: 15%;
	float: right
}

.blue-middle {
	width: 100%;
	height: 650px;
	background-color: blue;
}

.green-footer {
	width: 100%;
	height: 100px;
	background-color: green;
	}
